{% extends './base.html' %}
{% block title %}Home | Easy Tech{% endblock %}
{% block content %}
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Easy Tech Solution Limited</h1>
          <i class="fa fa-home"></i>
        </div>
        <div class="col-md-6">
          <h1>Display image here</h1>
          <h2></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="quotation">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="w3-card-4">
            <h1>Always be a problem solver</h1>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="about_company">
            <h1>About us</h1>
            <div class="about_line"></div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="about_description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="services">
    <div class="container">
      <h1>Offered services</h1>
      <div class="service_line"></div>
      <div class="service_line_duara"></div>
      <div class="row">
        <div class="col-md-4">
          <div class="service_container">
            <h2>Web Design & Development</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_container">
            <h2>Mobile App Development</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_container">
            <h2>Enterprises App Development</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="service_container">
            <h2>Networking Design & Configuration</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_container">
            <h2>PBX</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_container">
            <h2>VoIP</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="service_container">
            <h2>Security Surveillance</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_container">
            <h2>Digital Marketing</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_container">
            <h2>Projects Outsorcing</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="another_quotation">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>What are you waiting for..?</h1>
          <h2>Let us provide the support you deserve</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="skills">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="skill_heading">
            <h1>Our skills</h1>
            <div class="skill_heading_line"></div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="skills_type">
            <!-- <h1>Skills type</h1> -->
            <spa>Graphics Design</spa>
            <div class="progress">
              <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
            </div>
            <br>
            <spa>Web Development</spa>
            <div class="progress">
              <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <br>
            <spa>Networking Design & Configuration</spa>
            <div class="progress">
              <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
            </div>
            <br>
            <spa>Digital Marketing</spa>
            <div class="progress">
              <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <br>
            <spa>Enterprises Add Development</spa>
            <div class="progress">
              <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="two_side_div">
    <div class="side_left">
      <h2>Technology Partner</h2>
    </div>
    <div class="side_right">
      <h2>Manage IT Solutions</h2>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="projects">
    <div class="container">
      <h1>Our projects</h1>
      <div class="project_line"></div>
      <div class="project_line_duara"></div>
      <div class="row">
        <div class="col-md-12">
          <h2>Project list ...... slider style</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="lets_talks">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Let's talk</h1>
          <a href="#" class="w3-btn btn-sm lets_talk_button">contact us</a>
        </div>
      </div>
    </div>
  </div>
  <div class="our_clients">
    <div class="container">
      <h1>Our clients</h1>
      <div class="clients_line"></div>
      <div class="clients_line_duara"></div>
      <div class="row">
        <div class="col-md-12">
          <h2>Our clients goes here</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="happy_clients">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <i class="fa fa-list"></i>
          <h1>Projects</h1>
          <h2>50+</h2>
        </div>
        <div class="col-md-3">
          <i class="fa fa-group"></i>
          <h1>Clients</h1>
          <h2>100+</h2>
        </div>
        <div class="col-md-3">
          <i class="fa fa-cogs"></i>
          <h1>Ongoing Project</h1>
          <h2>20+</h2>
        </div>
        <div class="col-md-3">
          <i class="fa fa-clock-o"></i>
          <h1>Working hrs</h1>
          <h2>24/7/365</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
